<!--  <div class="hero">
    <h1><span>Discover millions of campaigns to save the world</span><br>Join and Make a Difference</h1> -->
      <div class="overlay">
      </div>

 <div class="hero" >
    <h1 style="text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px, rgba(0, 0, 0, 0.74902) 0px 1px 30px;"><span>Discover millions of campaigns to save the world</span><br>Join and Make a Difference</h1>

          <video autoplay loop="loop" preload="auto" class="photo">
            <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed.mp4" type='video/mp4'>
            <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed.webm" type='video/webm'>
          </video>

          <div  id='ajax-btn'>
            <svg>
              <rect x="0" y="0" fill="none" width="300px" height="45"/>   
            </svg>
             Feeling Generous?
          </div>

</div>


<div class="about">
  <h1 style="margin-bottom: 70px;"><span>Dream it. Plan it. Fund it. Launch it.</span><br>How it works</h1>
  <div class="plan">
    <div class="plan_image"></div>
    <h3>Pre Launch</h3>
    <div class="plan_image1"></div>
    <p>Successful projects engage<br>early and often with their<br>audience to help generate<br>pre-campaign buzz.</p>
  </div>

  <div class="crowdfunding">
    <div class="crowdfunding_image"></div>
    <h3>Crowd Funding</h3>
    <div class="crowdfunding_image1"></div>
    <p>NextFund campaigns pair the<br>freedom to tell your story<br>your way with expert resources<br>created by out team of<br>strategies</p>
  </div>

  <div class="marketplace">
    <div class="marketplace_image"></div>
    <h3>Market Place</h3>
    <div class="marketplace_image1"></div>
    <p>At the end of successful campaign<br>we provide furlfillment tools<br>and the ablity to market your<br>campaign. We will connect you<br>to campaign experts of your<br>selected fields.</p>
  </div> 
    
</div>

 <div class="container" style="padding:0px;z-index:-1; margin-top: 300px;">
  <h3>HOTTEST PROJECT</h3>
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
         <li data-target="#myCarousel" data-slide-to="4"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" style="height:100%; max-height: 700px; position:relative; margin-bottom: 100px; border:none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
        <div class="item active" style="z-index: -1;">
          <%=image_tag("photo1.jpg")%>
            <div class= "carousel-caption">
              	<h1> Education</h1>
              	<h2> project title</h2>
              	<p> project description </p>
            </div>
        </div>

        <div class="item">
          <%=image_tag("photo1.jpg")%>       
          <div class= "carousel-caption">
          	<h1> Community</h1>
          	<h2> project title</h2>
          	<p> project description </p>
          </div>
        </div>
      
        <div class="item">
          <%=image_tag("photo1.jpg")%>
        
          <div class= "carousel-caption">
          	<h1> Environment</h1>
          	<h2> project title</h2>
          	<p> project description </p>
          </div>
        </div>
        <div class="item">
          <%=image_tag("photo1.jpg")%>      
          <div class= "carousel-caption">
            <h1> Medical</h1>
            <h2> project title</h2>
            <p> project description </p>
          </div>
        </div>

        <div class="item">
          <%=image_tag("photo1.jpg")%>
            <div class= "carousel-caption">
          	<h1> Disasters</h1>
          	<h2> project title</h2>
          	<p> project description </p>
          </div>
        </div>
      </div>

    </div>
</div>
<div class="col-md-12">
<div class="category">
  <h1 style="font-weight: 900;">Explore Categories</h1>
    <figure class="snip1091">
    <img src="https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/education-fdcfdba5d24c91494ded2158d7993ab90f5c9442589fa166acf0021bbefb9116.png" />
    <figcaption>
    <h2><span>education</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.globalvolunteernetwork.org/southafrica/main.jpg" />
    <figcaption>
    <h2><span>community</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://meansusa.org/sites/default/files/coc-31.jpg" />
    <figcaption>
    <h2><span>environment</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://blogs-images.forbes.com/cit/files/2015/04/doctor-with-tablet-1940x1292.jpg" />
    <figcaption>
    <h2><span>medical</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.live58.org/Portals/209485/images/10%20facts%20about%20natural%20disasters%20-%20banner.jpg" />
    <figcaption>
    <h2><span>disasters</span></h2>
    </figcaption>
    </figure>
</div>




<script type="text/javascript">

$(document).on('ready page:load', function(){
  
  $('#ajax-btn').on('click', function(event){
    event.preventDefault();

    var showLoading = function(){
      $('#loading-gif').toggle();
    };

    var ajaxCall = function(){
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/homepage/shuffle',
        // data: $('#filter-form').serialize(),
        success: function(project){
          console.log(project);
          $('#loading-gif').hide();
          $('#shuffle-title').show();
          $('#shuffle-image').html('<figure class="snip-shuffle">' + '<img id="shuffle-img" src="'+ project.images[0].url +'">'  +
            '<figcaption>' + "<span>" +'<a href="/projects/' + project.id + '">Click to see more & donate!</a>' + "</span>"+"</figcaption>" 
            + "</figure>" + "<br>");
          $('#shuffle-title').html('<div class="modal-text">' + "Project : " + project.campaign_title + "</div>"  +
            '<div class="text" style="color:darkgray;">' + "Summary : " + project.summary + "</div>" +
            '<div class="modal-text">' + "Category : " + project.category + "</div>" +
            '<div class="modal-text">' + "Fund needed : USD " + project.amount_needed + "</div>" + 
            '<div class="modal-text">' + "Fund size now : " + project.amount_achieved + "</div>" +
            '<div class="modal-text">' + "Deadline : " + project.deadline + "</div>"  
                     );
          
        }
      })
    };
    $('#shuffleModal').modal();
    $('#shuffle-img').hide();
    $('#shuffle-title').hide();
    $('#loading-gif').css('display', 'block');
    setTimeout(ajaxCall ,4000);
    
  })
});
</script>




