<!-- <h1 class="text-center" style="font-family: verdana;">Search result</h1>
 -->
<%if @projects.blank?%>
  <div class="container">
      <h4>Sorry. No match found.</h4>
      <h4>Please try again with another search parameters.</h4>
  </div>
<%else%>  

  
 <div class ="container">

 <div class="row">
  <h1 class="description" id="1">Search results.</h1><h4 style="padding-left: 90%; top: 20px;"></h4>
  <% @projects.each do |p| %>
      <div class= "col-md-4"> 
       <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
         <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
         <h2><%= p.campaign_title.upcase %></h2>
         <p class="project-summary"><b>Summary: </b><%= truncate(p.summary, :length => 150) %><%= link_to "(read more)", project_path(p)%></p>
         <p class="project-donation"><b>Amount needed: </b> USD <%= number_with_delimiter(p.amount_needed) %> </p>
         <p class="project-donation"><b>Amount pledged: </b>
          <% if p.amount_achieved == nil%>
            USD 0
          <% else %>
            USD <%= number_with_delimiter(p.amount_achieved) %> </p>
          <% end %>
         <div class="task-status">
      <div class="status-bar">
        <div class="status-track">
           <%perc =number_to_percentage((p.amount_achieved.to_f/p.amount_needed.to_f)*100, precision: 0)%>
          <span class="status-text"><%=perc%></span>
          <div class="status-fill" style="width:<%=perc%>"></div>
        </div>
      </div>
</div>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>
<%end%>

