<script type="text/javascript" src="/assets/transactions.js"></script>

<%if !@messages.blank?%>
<%@messages.each do |x|%>
<p><%=x%></p>
<%end%>
<%end%>

<div class="container">
  <div class="row">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <div class="connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
              <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step3" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-heart"></i>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step2" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-usd"></i>
                </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                <span class="round-tab">
                  <i class="glyphicon glyphicon-ok"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <form role="form">
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="step1">
              <h3>Confirmation.</h3>
              <%= form_for(@transaction) do |f| %>

              <div class="field">
                <%= f.label :campaign_title %><br>
                <%= @project.campaign_title %><br>
              </div>

              <div class="field">
                <%= f.label :amount_needed %><br>
                <%= @project.amount_needed %><br>
              </div>

              <div>
                <%= f.hidden_field :project_id, value: @project.id %>
              </div>
              <% end %>

              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
              </ul>
            </div>


            <div class="tab-pane" role="tabpanel" id="step2">
              <h3>Thank You for your generosity!</h3>
              <div class="donateContainer">
              <a class="donate" id="donate" href="#donate">
              <img src="http://s32.postimg.org/ct2ypkapt/heart2.png"></img>
              </a>
              <img class="rays" src="http://www.thejinanfog.com/wp-content/themes/jinanfog/images/god_rays2.png"></img>
              </div>
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
              </ul>
            </div>


            <div class="tab-pane" role="tabpanel" id="step3">
              <h3>Donate/Fund now!</h3>
              <p>Please fill in your donation/funding amount & payment details.</p>
              <%= form_for(@transaction) do |f| %>

              <div class="field">
                <%= f.label :donation_amount %><br>
                <%= f.number_field :amount %><br>
              </div>

              <div>
                <%= f.hidden_field :project_id, value: @project.id %>
              </div>

              <div>
                <div id="dropin"></div>
              </div>


              <div class="actions">
                <%= f.submit %>
              </div>

              <% end %>

              <script type="text/javascript">
                function setupBT() {
                  braintree.setup("<%= @client_token %>", 'dropin', {
                    container: 'dropin'
                  });
                }
                if (window.addEventListener)
                  window.addEventListener("load", setupBT, false);
                else if (window.attachEvent)
                  window.attachEvent("onload", setupBT);
                else window.onload = setupBT;

              </script>
              
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
              </ul>
            </div>

            <div class="tab-pane" role="tabpanel" id="complete">
              <h3>Complete</h3>
              <p>You have successfully completed all steps.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
